:root{
    --verde :#6FDCBF;
    --morado:#DDD0EA;
    --amarillo: #FEF8B4;
    --rosa: #F2C3C0;
    --rosa_dark:#FFADAD;
    --negro: #25171A;
    --plomo: #404040;
    --blanco: #F7F7F7;

    --titulo: 'Chakra Petch', sans-serif;
    --parrafos: 'Itim', cursive;

    --titulo_600:4rem;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*rem*/
html {
    
    font-size: 62.5%;
    }
body{
    font-size: 16px;
    background-color: var(--blanco);
}

/*Fin REM*/
/*HEADER*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
    height: 10rem;
} 

.logo{
    width: 30%;
    
}
.logo h1 {
    text-align: center;
}

.logo h1 a{
    text-decoration: none;
    color: var(--verde);
    -webkit-text-stroke: 0.5px black;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;


}



nav{
    width: 60%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    max-width: 70%;
    
}

nav ul a{
    text-decoration: none;
    font-family: 'Itim', cursive;
    font-weight: 300;
    color: #25171A;
    font-size: 2rem;
    position: relative;
    padding-bottom: 2rem;
    
}
nav ul a:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    background-color: #25171A;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}
 
nav ul a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*QUERIES*/

@media (max-width: 992px) {
    header {
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 20px 0;
    }
  
    .logo {
      width: auto;
      margin-bottom: 10px;
    }
  
    .logo h1 {
      font-size: 6rem;
    }
  
    nav {
      width: 100%;
    }
  
    nav ul {
      flex-direction: column;
      max-width: 100%;
      background-color: var(--rosa_dark);
    }

    nav ul li{
        border-bottom: 0.1rem solid var(--negro);
        width: 100%;
        text-align: center;
        padding: 0.8rem
        
    }

    nav ul li a{
        font-size: 2.5rem;
        
    }
    nav ul a:after {
        display: none; /* Oculta los estilos en dispositivos móviles */
      }
    
  
  }


/*FIN HEADER*/

.contact_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 0 2rem;
    font-family: var(--parrafos);
    color: var(--negro);
    justify-items: center;
    align-items: center;
}



.hello_contact{
    text-align: center;
    margin-bottom: 2rem;

}
.hello_contact .title{
    font-family: var(--titulo);
    font-size: 5rem;
    font-weight: bold;
}
.hello_contact .subject{
    font-size: 2.5rem;
}

.contact_image{
    text-align: center;
    
}

.contact_image img{
    width: 100%; 
    
}
/*form*/
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group{ 
    display: grid;
    grid-template-columns: 1fr 2fr; /* Divide cada fila en dos columnas iguales */
    gap: 1rem; /* Espacio entre las columnas */
    margin-top: 1rem;
    align-items: center;
    
}



label{
    font-size: 1.8rem;
    margin-right: 1rem;
    text-align: end;
}
input, textarea{
    height: 4rem;
    width: 30rem;
    border-radius: 0.7rem;
    border: 0.1rem solid var(--plomo);
    font-family: var(--parrafos);
    font-size: 1.8rem;
    padding: 1rem;
    color: var(--plomo);
    
}
.contact_mobile{
    display: none;
}
@media (max-width: 768px) {
    .contact_mobile{
        display: flex;
        max-width: 100%;
        height: auto;
        
    }

    .contacto {
        grid-template-columns: 1fr;
    }
    
    .contact_image {
        display: none;
    }

    .form-group{
        grid-template-columns: 1fr;
    }
    label{
        text-align:center ;
    }
}

textarea{
    min-height: 8rem;
    min-width: 30rem;
    max-width: 30rem;
}
.button{
    margin-top: 3rem;
    text-align: center;
    
}

.button_project{
    background-color: white;
    padding: 1rem;
    font-family: var(--parrafos);
    color: var(--negro);
    font-size: 1.8rem;
    margin: 0rem auto;
    width: 15rem;
    border-radius: 1rem;
    border: 0.3rem solid var(--plomo);
    -webkit-box-shadow: 8px 8px 0px 0px rgba(64,64,64,1);
    -moz-box-shadow: 8px 8px 0px 0px rgba(64,64,64,1);
    box-shadow: 8px 8px 0px 0px rgba(64,64,64,1);
}
.button_project:hover{
    background-color: var(--rosa_dark);
}